.anibox {
    width: 100px;
    height: 100px;
    background: orange;
}

.fade-enter {
    opacity: 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-play-state: paused;

    &-active {
        animation-name: fadein;
        animation-play-state: running;
    }
}

.fade-leave {
    opacity: 1;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-play-state: paused;

    &-active {
        animation-name: fadeout;
        animation-play-state: running;
    }
}

.flyTopIn {
    animation-name: flyTopIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.flyTopOut {
    animation-name: flyTopOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flyTopIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(150px);
    }
}

@keyframes flyTopOut {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(0);
    }
}
