.anibox {
    width: 100px;
    height: 100px;
    background: orange;
    visibility: hidden;
}

.flyTopIn {
    animation-name: flyTopIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.flyTopOut {
    animation-name: flyTopOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// @keyframes flyTopIn {
//     from {
//         transform: translateX(0);
//     }
//     to {
//         transform: translateX(150px);
//     }
// }

// @keyframes flyTopOut {
//     from {
//         transform: translateX(150px);
//     }
//     to {
//         transform: translateX(0);
//     }
// }

@keyframes flyTopIn {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateX(150px);
        opacity: 1;
    }
}

@keyframes flyTopOut {
    from {
        transform: translateX(150px);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 0;
    }
}
